## Numpy Array

In [8]:
import numpy as np

In [12]:
z = np.array([345,423,453,"dfsdds",324,[34,"dfsv"]])

In [13]:
type(z)

numpy.ndarray

In [14]:
l = [345,3453,343,23,"sdwf"]

In [15]:
type(l)

list

In [16]:
## Upcasting

In [17]:
np.array([3,5,4.0]) # it upcasts integer to floating point

array([3., 5., 4.])

In [18]:
# Dimensions

In [19]:
np.array([[1,2],[5,7]])

array([[1, 2],
       [5, 7]])

In [20]:
np.array([[1,2],[5,7,34]])

array([list([1, 2]), list([5, 7, 34])], dtype=object)

In [21]:
np.array([[1,2],[5,7]], ndmin=6)

array([[[[[[1, 2],
           [5, 7]]]]]])

In [22]:
# dtype

In [23]:
np.array([1,2,34], dtype=complex)

array([ 1.+0.j,  2.+0.j, 34.+0.j])

In [24]:
x = np.array([(1,2),(5,7)], dtype = [('a','<i2'),('b','<i8')])
x

array([(1, 2), (5, 7)], dtype=[('a', '<i2'), ('b', '<i8')])

In [25]:
type(x[0][0])

numpy.int16

In [26]:
type(x[0][1])

numpy.int64

In [27]:
type(x)

numpy.ndarray

In [28]:
# Matrix

In [29]:
np.mat(x)

matrix([[(1, 2), (5, 7)]], dtype=[('a', '<i2'), ('b', '<i8')])

### Numpy asarray

In [30]:
a = [[1,2],[34,6]]
np.asarray(a,dtype=np.float32)

array([[ 1.,  2.],
       [34.,  6.]], dtype=float32)

In [31]:
issubclass(np.matrix, np.ndarray)

True

###  Numpy asanyarray

In [32]:
np.asanyarray(a)

array([[ 1,  2],
       [34,  6]])

In [33]:
arr = np.mat([23,532])
arr

matrix([[ 23, 532]])

In [35]:
np.asanyarray(arr) # only converts if input is non array type (matrix is subclass of array)

matrix([[ 23, 532]])

In [36]:
np.array(arr)

array([[ 23, 532]])

### Numpy Copy

In [37]:
x = np.array(a)
x

array([[ 1,  2],
       [34,  6]])

In [38]:
y = x      # y will point to where data was stored in x   
# Swallow Copy functionality

In [39]:
y[1] = 3456    # changed in y, but change in x also

In [40]:
y

array([[   1,    2],
       [3456, 3456]])

In [41]:
x

array([[   1,    2],
       [3456, 3456]])

In [42]:
x = np.array(a)
z = np.copy(x)       # Deep Copy functionality
z

array([[ 1,  2],
       [34,  6]])

In [43]:
z[1][1] = 3434232      # .copy() function will store data in new location, hence making it independent

In [44]:
z

array([[      1,       2],
       [     34, 3434232]])

In [45]:
x

array([[ 1,  2],
       [34,  6]])

### Numpy fromfunction

In [78]:
np.fromfunction(lambda i,j: i==j, (3,3)) # function,shape

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [79]:
np.fromfunction(lambda i,j: i*j, (4,3), dtype=int)

array([[0, 0, 0],
       [0, 1, 2],
       [0, 2, 4],
       [0, 3, 6]])

In [81]:
#3D
np.fromfunction(lambda i,j,k : i+j+k, (3,3,3), dtype=int)

array([[[0, 1, 2],
        [1, 2, 3],
        [2, 3, 4]],

       [[1, 2, 3],
        [2, 3, 4],
        [3, 4, 5]],

       [[2, 3, 4],
        [3, 4, 5],
        [4, 5, 6]]])

In [83]:
#4D  -    (3,3,3) array once 
np.fromfunction(lambda i,j,k,m : i+j+k+m, (1,3,3,3), dtype=int)

array([[[[0, 1, 2],
         [1, 2, 3],
         [2, 3, 4]],

        [[1, 2, 3],
         [2, 3, 4],
         [3, 4, 5]],

        [[2, 3, 4],
         [3, 4, 5],
         [4, 5, 6]]]])

In [84]:
#4D  -    (3,3,3) array twice 
np.fromfunction(lambda i,j,k,m : i+j+k+m, (2,3,3,3), dtype=int)

array([[[[0, 1, 2],
         [1, 2, 3],
         [2, 3, 4]],

        [[1, 2, 3],
         [2, 3, 4],
         [3, 4, 5]],

        [[2, 3, 4],
         [3, 4, 5],
         [4, 5, 6]]],


       [[[1, 2, 3],
         [2, 3, 4],
         [3, 4, 5]],

        [[2, 3, 4],
         [3, 4, 5],
         [4, 5, 6]],

        [[3, 4, 5],
         [4, 5, 6],
         [5, 6, 7]]]])

### Array from Iterable object

In [85]:
iterable = (x*x for x in range(5))

In [86]:
iterable

In [87]:
np.fromiter(iterable, float)

array([ 0.,  1.,  4.,  9., 16.])

### Array from string

In [88]:
np.fromstring('334 343',sep=' ')

array([334., 343.])

In [89]:
np.fromstring('334,34,343',sep=',')

array([334.,  34., 343.])

### Create an array Record from multiple arrays

In [91]:
x1 = np.array([1,2,3,4])
x2 = np.array(['aaf','ewfw','yhjnh','gfbd'])
x3 = np.array([1.43,2.12,3.45,4.78])
x4 = np.array([123,2454,354,423])

In [93]:
r = np.core.records.fromarrays([x1,x2,x3,x4])
r

rec.array([(1, 'aaf', 1.43,  123), (2, 'ewfw', 2.12, 2454),
           (3, 'yhjnh', 3.45,  354), (4, 'gfbd', 4.78,  423)],
          dtype=[('f0', '<i4'), ('f1', '<U5'), ('f2', '<f8'), ('f3', '<i4')])

In [94]:
type(r)

numpy.recarray

In [98]:
r[2]

(3, 'yhjnh', 3.45, 354)

In [101]:
r[2]['f1']

'yhjnh'

### Details of array

In [102]:
l = [1,2,3,4]
arr = np.array(l)
print(type(arr), arr)

<class 'numpy.ndarray'> [1 2 3 4]

In [103]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
mat = np.array(matrix)

In [110]:
print("Type ",type(mat))
print("Matrix \n",mat)
print("Dimension ", mat.ndim)
print("Size ", mat.size)
print("Shape  ", mat.shape)
print("Data Type ", mat.dtype)

Type  <class 'numpy.ndarray'>
Matrix
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
Dimension  2
Size  9
Shape   (3, 3)
Data Type  int32

### Arange and Linespace and Logspace

In [111]:
list(range(3.4,5))  # float not allowed in range

TypeError: 'float' object cannot be interpreted as an integer

In [117]:
np.arange(2.34,4.78,0.2)

array([2.34, 2.54, 2.74, 2.94, 3.14, 3.34, 3.54, 3.74, 3.94, 4.14, 4.34,
       4.54, 4.74])

In [119]:
np.arange(50,-1,-5)

array([50, 45, 40, 35, 30, 25, 20, 15, 10,  5,  0])

In [122]:
# Linearly spaced numbers between a range
np.linspace(0,1,50)

array([0.        , 0.02040816, 0.04081633, 0.06122449, 0.08163265,
       0.10204082, 0.12244898, 0.14285714, 0.16326531, 0.18367347,
       0.20408163, 0.2244898 , 0.24489796, 0.26530612, 0.28571429,
       0.30612245, 0.32653061, 0.34693878, 0.36734694, 0.3877551 ,
       0.40816327, 0.42857143, 0.44897959, 0.46938776, 0.48979592,
       0.51020408, 0.53061224, 0.55102041, 0.57142857, 0.59183673,
       0.6122449 , 0.63265306, 0.65306122, 0.67346939, 0.69387755,
       0.71428571, 0.73469388, 0.75510204, 0.7755102 , 0.79591837,
       0.81632653, 0.83673469, 0.85714286, 0.87755102, 0.89795918,
       0.91836735, 0.93877551, 0.95918367, 0.97959184, 1.        ])

In [134]:
np.linspace(0,1,5, endpoint=False)

array([0. , 0.2, 0.4, 0.6, 0.8])

In [136]:
np.linspace(0,1,7,retstep=True)

(array([0.        , 0.16666667, 0.33333333, 0.5       , 0.66666667,
        0.83333333, 1.        ]),
 0.16666666666666666)

In [138]:
np.logspace(2,3,4,base=2)

array([4.        , 5.0396842 , 6.34960421, 8.        ])

### Matrix Creation

In [123]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [124]:
np.zeros((3,4)) # dimension mentioned in tuple

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [126]:
np.ones((3,6,2))

array([[[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]]])

In [129]:
np.ones((2,5)) + 5

array([[6., 6., 6., 6., 6.],
       [6., 6., 6., 6., 6.]])

In [130]:
np.ones((2,5)) * 5

array([[5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5.]])

In [132]:
np.empty(4)

array([1.43, 2.12, 3.45, 4.78])

In [133]:
# Identity matrix
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

### Numpy functions

In [47]:
np.arange(16)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [61]:
np.arange(16).reshape((2,8,1))

array([[[ 0],
        [ 1],
        [ 2],
        [ 3],
        [ 4],
        [ 5],
        [ 6],
        [ 7]],

       [[ 8],
        [ 9],
        [10],
        [11],
        [12],
        [13],
        [14],
        [15]]])

In [66]:
# -1(or any negative number) will arange the array itself with respect to other parameter.
# Lets say we want something cross 2, so we write
j = np.arange(16).reshape((4,-1))
j

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [67]:
np.diag(j) # default k=0

array([ 0,  5, 10, 15])

In [76]:
np.diag(j,k=1) # leave 2 index and then get diag from the square matric

array([ 1,  6, 11])

In [70]:
np.diag(j,k=-2)

array([ 8, 13])

In [71]:
np.diag(j,k=2)

array([2, 7])

In [72]:
np.diag(j,k=3)

array([3])

In [73]:
np.diag(np.diag(j))

array([[ 0,  0,  0,  0],
       [ 0,  5,  0,  0],
       [ 0,  0, 10,  0],
       [ 0,  0,  0, 15]])

In [74]:
np.diag([34,42,4223,23])

array([[  34,    0,    0,    0],
       [   0,   42,    0,    0],
       [   0,    0, 4223,    0],
       [   0,    0,    0,   23]])

In [77]:
np.diagflat([[23,4],[32,4]], k =1)

array([[ 0, 23,  0,  0,  0],
       [ 0,  0,  4,  0,  0],
       [ 0,  0,  0, 32,  0],
       [ 0,  0,  0,  0,  4],
       [ 0,  0,  0,  0,  0]])

In [97]:
np.tri(4,4,k=1) # 1 below the k value diagonal and above k, everything 0

array([[1., 1., 0., 0.],
       [1., 1., 1., 0.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [90]:
np.tri(4,4,k=-1)

array([[0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 1., 0., 0.],
       [1., 1., 1., 0.]])

In [96]:
np.tri(6,5)

array([[1., 0., 0., 0., 0.],
       [1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [101]:
np.array([[3,5,32],[6,23,6],[23,7,2]])

array([[ 3,  5, 32],
       [ 6, 23,  6],
       [23,  7,  2]])

In [102]:
np.tril([[3,5,32],[6,23,6],[23,7,2]],k=0)

array([[ 3,  0,  0],
       [ 6, 23,  0],
       [23,  7,  2]])

In [103]:
np.tril([[3,5,32],[6,23,6],[23,7,2]],k=-1)

array([[ 0,  0,  0],
       [ 6,  0,  0],
       [23,  7,  0]])

In [104]:
np.tril([[3,5,32],[6,23,6],[23,7,2]],k=1)

array([[ 3,  5,  0],
       [ 6, 23,  6],
       [23,  7,  2]])

In [105]:
np.triu([[3,5,32],[6,23,6],[23,7,2]],k=0)

array([[ 3,  5, 32],
       [ 0, 23,  6],
       [ 0,  0,  2]])

In [106]:
np.triu([[3,5,32],[6,23,6],[23,7,2]],k=1)

array([[ 0,  5, 32],
       [ 0,  0,  6],
       [ 0,  0,  0]])

### Random number Generation

In [108]:
print("Random Number generation from uniform distribution")
np.random.rand(2,3,2)

Random Number generation from uniform distribution

array([[[0.6712634 , 0.43277226],
        [0.08587307, 0.8512426 ],
        [0.49304586, 0.33121395]],

       [[0.92608291, 0.04648396],
        [0.710221  , 0.7624272 ],
        [0.66168719, 0.19398305]]])

In [109]:
np.random.rand(2,3,2).reshape(6,2)

array([[0.65206146, 0.71399574],
       [0.76651207, 0.49668055],
       [0.54542009, 0.48779319],
       [0.45490655, 0.291675  ],
       [0.16133321, 0.63308163],
       [0.57387906, 0.92132561]])

In [110]:
print("Random Number generation from Normal distribution i.e mean=0 and stnadard deviation =1 ")
np.random.randn(2,3)

Random Number generation from Normal distribution i.e mean=0 and stnadard deviation =1

array([[-1.05621829,  0.39866631,  0.24981457],
       [-0.54859216,  0.26730703, -1.10265677]])

In [116]:
print("Random Number generation but only int")
np.random.randint(2,88,7)

Random Number generation but only int

array([10, 47, 53, 25, 74, 38, 56])

In [120]:
a = np.random.randint(2,88,(6,5))
a

array([[44, 70, 17, 62, 17],
       [13, 82, 27, 21, 35],
       [16, 76, 26, 87, 11],
       [31, 41, 60, 71, 69],
       [52, 19, 44, 87, 60],
       [43, 68,  5, 48, 11]])

In [122]:
a.reshape(15,2)

array([[44, 70],
       [17, 62],
       [17, 13],
       [82, 27],
       [21, 35],
       [16, 76],
       [26, 87],
       [11, 31],
       [41, 60],
       [71, 69],
       [52, 19],
       [44, 87],
       [60, 43],
       [68,  5],
       [48, 11]])

In [135]:
z = np.random.randint(2,1008,7)
z

array([702, 344, 731, 251, 193, 566, 316])

In [143]:
a = np.sort(z)
z

array([193, 251, 316, 344, 566, 702, 731])

In [144]:
m = np.random.randint(1,100,(25)).reshape(5,5)
m

array([[76, 56, 22, 70, 19],
       [86, 10,  6, 83, 26],
       [54,  8, 23, 94, 58],
       [53, 44, 71, 85, 82],
       [50,  8, 74, 32,  1]])

### numpy Sort

In [148]:
s = np.sort(m)
s

array([[19, 22, 56, 70, 76],
       [ 6, 10, 26, 83, 86],
       [ 8, 23, 54, 58, 94],
       [44, 53, 71, 82, 85],
       [ 1,  8, 32, 50, 74]])

In [149]:
s = np.sort(m,axis=0)
s

array([[50,  8,  6, 32,  1],
       [53,  8, 22, 70, 19],
       [54, 10, 23, 83, 26],
       [76, 44, 71, 85, 58],
       [86, 56, 74, 94, 82]])

In [150]:
m

array([[76, 56, 22, 70, 19],
       [86, 10,  6, 83, 26],
       [54,  8, 23, 94, 58],
       [53, 44, 71, 85, 82],
       [50,  8, 74, 32,  1]])

In [151]:
m.max()

94

In [152]:
m.min()

1

In [154]:
m.argmax(axis=0)

array([1, 0, 4, 2, 3], dtype=int64)

In [155]:
m.argmax(axis=1)

array([0, 0, 3, 3, 2], dtype=int64)

### Indexing and slicing

In [166]:
arr = np.arange(0,12, 0.5)
arr

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,
        5.5,  6. ,  6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. , 10.5,
       11. , 11.5])

In [167]:
arr[4:11:3]

array([2. , 3.5, 5. ])

In [170]:
arr[[2,3]]

array([1. , 1.5])

In [180]:
mat = np.array(np.random.randint(10,100,45).reshape(3,5,3))
mat

array([[[69, 98, 37],
        [68, 24, 25],
        [48, 36, 27],
        [59, 44, 66],
        [92, 61, 61]],

       [[64, 99, 53],
        [80, 18, 45],
        [88, 32, 47],
        [82, 44, 86],
        [42, 68, 85]],

       [[93, 18, 59],
        [94, 63, 38],
        [19, 51, 91],
        [26, 65, 62],
        [51, 93, 52]]])

In [184]:
mat[1][3][2]

86

In [188]:
mat[0][:,1]

array([98, 24, 36, 44, 61])

In [201]:
mat[0:3,0:2]

array([[[69, 98, 37],
        [68, 24, 25]],

       [[64, 99, 53],
        [80, 18, 45]],

       [[93, 18, 59],
        [94, 63, 38]]])

In [206]:
mat[0:2,:,[0,2]]

array([[[69, 37],
        [68, 25],
        [48, 27],
        [59, 66],
        [92, 61]],

       [[64, 53],
        [80, 45],
        [88, 47],
        [82, 86],
        [42, 85]]])

### Subseting

In [207]:
mat

array([[[69, 98, 37],
        [68, 24, 25],
        [48, 36, 27],
        [59, 44, 66],
        [92, 61, 61]],

       [[64, 99, 53],
        [80, 18, 45],
        [88, 32, 47],
        [82, 44, 86],
        [42, 68, 85]],

       [[93, 18, 59],
        [94, 63, 38],
        [19, 51, 91],
        [26, 65, 62],
        [51, 93, 52]]])

In [208]:
mat>50

array([[[ True,  True, False],
        [ True, False, False],
        [False, False, False],
        [ True, False,  True],
        [ True,  True,  True]],

       [[ True,  True,  True],
        [ True, False, False],
        [ True, False, False],
        [ True, False,  True],
        [False,  True,  True]],

       [[ True, False,  True],
        [ True,  True, False],
        [False,  True,  True],
        [False,  True,  True],
        [ True,  True,  True]]])

In [209]:
mat[mat>50]

array([69, 98, 68, 59, 66, 92, 61, 61, 64, 99, 53, 80, 88, 82, 86, 68, 85,
       93, 59, 94, 63, 51, 91, 65, 62, 51, 93, 52])

In [226]:
mat = np.array(np.random.randint(10,100,45).reshape(3,5,3))
mat1 = np.array(np.random.randint(10,100,45).reshape(3,5,3))
mat

array([[[62, 80, 79],
        [67, 62, 34],
        [64, 66, 90],
        [81, 58, 89],
        [13, 49, 78]],

       [[22, 61, 88],
        [94, 32, 85],
        [84, 34, 37],
        [50, 91, 23],
        [43, 10, 27]],

       [[55, 97, 60],
        [62, 27, 51],
        [98, 37, 61],
        [85, 59, 15],
        [19, 40, 59]]])

In [227]:
mat_slice = mat[0]   #sliced and copied directly
mat_slice[0,1] = 1000
mat_slice

array([[  62, 1000,   79],
       [  67,   62,   34],
       [  64,   66,   90],
       [  81,   58,   89],
       [  13,   49,   78]])

In [228]:
mat  # change in slices instace, changed original too

array([[[  62, 1000,   79],
        [  67,   62,   34],
        [  64,   66,   90],
        [  81,   58,   89],
        [  13,   49,   78]],

       [[  22,   61,   88],
        [  94,   32,   85],
        [  84,   34,   37],
        [  50,   91,   23],
        [  43,   10,   27]],

       [[  55,   97,   60],
        [  62,   27,   51],
        [  98,   37,   61],
        [  85,   59,   15],
        [  19,   40,   59]]])

In [229]:
mat1

array([[[90, 84, 45],
        [52, 36, 97],
        [33, 76, 69],
        [61, 55, 47],
        [14, 93, 22]],

       [[46, 31, 10],
        [38, 33, 31],
        [26, 21, 41],
        [40, 69, 98],
        [95, 74, 47]],

       [[39, 45, 89],
        [72, 35, 36],
        [92, 45, 23],
        [24, 19, 12],
        [98, 10, 46]]])

In [230]:
mat_slice1 = np.array(mat1[0])   #sliced and copied with np.array
mat_slice1[0,1] = 1000
mat_slice1

array([[  90, 1000,   45],
       [  52,   36,   97],
       [  33,   76,   69],
       [  61,   55,   47],
       [  14,   93,   22]])

In [232]:
mat1  # no changes in the original matrix

array([[[90, 84, 45],
        [52, 36, 97],
        [33, 76, 69],
        [61, 55, 47],
        [14, 93, 22]],

       [[46, 31, 10],
        [38, 33, 31],
        [26, 21, 41],
        [40, 69, 98],
        [95, 74, 47]],

       [[39, 45, 89],
        [72, 35, 36],
        [92, 45, 23],
        [24, 19, 12],
        [98, 10, 46]]])

### Universal functions

In [237]:
mat1 = np.array(np.random.randint(1,10,4).reshape(2,2))
mat2 = np.array(np.random.randint(1,10,4).reshape(2,2))
print("Mat1\n",mat1)
print("\nMat2\n",mat2)

Mat1
 [[3 8]
 [3 6]]

Mat2
 [[9 2]
 [5 4]]

In [239]:
mat1*mat2  # static multiplication index wise (not matrix multiplication)

array([[27, 16],
       [15, 24]])

In [240]:
mat1@mat2  # matrix multiplication

array([[67, 38],
       [57, 30]])

In [241]:
2/0

ZeroDivisionError: division by zero

In [242]:
mat1/0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([[inf, inf],
       [inf, inf]])

In [243]:
mat1+100

array([[103, 108],
       [103, 106]])

In [244]:
mat2**3

array([[729,   8],
       [125,  64]], dtype=int32)

In [245]:
pow(mat2,3)

array([[729,   8],
       [125,  64]], dtype=int32)

### Broadcasting

In [249]:
start = np.zeros([4,4])
start = start+100   #element wise
start

array([[100., 100., 100., 100.],
       [100., 100., 100., 100.],
       [100., 100., 100., 100.],
       [100., 100., 100., 100.]])

In [252]:
add_rows = np.array([1,34,5,2])
add_rows_ex = np.array([1,34,5,2,34,2])

In [253]:
start + add_rows   # row wise broadcasting

array([[101., 134., 105., 102.],
       [101., 134., 105., 102.],
       [101., 134., 105., 102.],
       [101., 134., 105., 102.]])

In [254]:
start + add_rows_ex

ValueError: operands could not be broadcast together with shapes (4,4) (6,)

In [263]:
add_cols = np.array([[1,4,5,22]])
add_cols = add_cols.T   # column wise broadcasting
add_cols

array([[ 1],
       [ 4],
       [ 5],
       [22]])

In [264]:
start+add_cols

array([[101., 101., 101., 101.],
       [104., 104., 104., 104.],
       [105., 105., 105., 105.],
       [122., 122., 122., 122.]])

In [265]:
m

array([[76, 56, 22, 70, 19],
       [86, 10,  6, 83, 26],
       [54,  8, 23, 94, 58],
       [53, 44, 71, 85, 82],
       [50,  8, 74, 32,  1]])

In [266]:
np.sqrt(m)

array([[8.71779789, 7.48331477, 4.69041576, 8.36660027, 4.35889894],
       [9.2736185 , 3.16227766, 2.44948974, 9.11043358, 5.09901951],
       [7.34846923, 2.82842712, 4.79583152, 9.69535971, 7.61577311],
       [7.28010989, 6.63324958, 8.42614977, 9.21954446, 9.05538514],
       [7.07106781, 2.82842712, 8.60232527, 5.65685425, 1.        ]])

In [267]:
np.exp(m)

array([[1.01480039e+33, 2.09165950e+24, 3.58491285e+09, 2.51543867e+30,
        1.78482301e+08],
       [2.23524660e+37, 2.20264658e+04, 4.03428793e+02, 1.11286375e+36,
        1.95729609e+11],
       [2.83075330e+23, 2.98095799e+03, 9.74480345e+09, 6.66317622e+40,
        1.54553894e+25],
       [1.04137594e+23, 1.28516001e+19, 6.83767123e+30, 8.22301271e+36,
        4.09399696e+35],
       [5.18470553e+21, 2.98095799e+03, 1.37338298e+32, 7.89629602e+13,
        2.71828183e+00]])

In [268]:
np.log10(m)

array([[1.88081359, 1.74818803, 1.34242268, 1.84509804, 1.2787536 ],
       [1.93449845, 1.        , 0.77815125, 1.91907809, 1.41497335],
       [1.73239376, 0.90308999, 1.36172784, 1.97312785, 1.76342799],
       [1.72427587, 1.64345268, 1.85125835, 1.92941893, 1.91381385],
       [1.69897   , 0.90308999, 1.86923172, 1.50514998, 0.        ]])

In [270]:
np.fmod(mat2,mat1)

array([[0, 2],
       [2, 4]], dtype=int32)