In [1]:
import pymongo

In [ ]:
dbconn=pymongo.MongoClient("mongodb://localhost:27017/")

In [ ]:
dbname = "demoDB"

In [ ]:
db = dbconn[dbname]

In [ ]:
print(dbconn.list_database_names())

In [ ]:
dblist = dbconn.list_database_names()
print(dblist)
db_name="demoDB"

if db_name in dblist:
    print("Database exists")
else:
    print("Database doesn't exist")

In [ ]:
collection_name = "mongo_demo"

In [ ]:
collection = db[collection_name]

In [ ]:
if collection_name in db.list_collection_names():
    print("collection exists")
else:
    print("collection doesn't exist")

In [ ]:
my_row = {'Serial No':'998',
         'GRE Score':'337',
         'SOP':'4.5',
         'Research':'1',
         'Chance of Admit':'0.89'}

In [ ]:
x = collection.insert_one(my_row)

In [ ]:
x.inserted_id

In [ ]:
my_rows = [
    {'Serial No':'942398',
         'GRE Score':'3367',
         'SOP':'4.235',
         'Research':'16',
         'Chance of Admit':'0.8934'},
    {'Serial No':'92398',
         'GRE Score':'33357',
         'SOP':'4.235',
         'Research':'1',
         'Chance of Admit':'0.89'},
    {'Serial No':'94598',
         'GRE Score':'34537',
         'SOP':'4.52',
         'Research':'13',
         'Chance of Admit':'0.59'}

]

In [ ]:
x = collection.insert_many(my_rows)

In [ ]:
x.inserted_ids

In [ ]:
result = collection.find({})
for r in result:
    print(r)

In [ ]:
result = collection.find({}).limit(1)
for r in result:
    print(r)

In [ ]:
result = collection.find({},{'GRE Score'})
for r in result:
    print(r)

In [ ]:
db_query = {'GRE Score':'337'}
result = collection.find(db_query)
for r in result:
    print(r)

In [ ]:
db_query = {'GRE Score':{'$gt':'233'}}
result = collection.find(db_query).sort('GRE Score',-1)
for r in result:
    print(r)

In [ ]:
db_query = {'GRE Score':'3367'}
result = collection.delete_one(db_query)
result.deleted_count

In [ ]:
collection_name = "demo2"
collection1 = db[collection_name]
collection1.insert_one(my_row)

In [ ]:
db.list_collection_names()

In [ ]:
collection_to_drop=db['demo2']
collection_to_drop.drop()

In [ ]:
db.list_collection_names()

In [ ]:
update_criteria = {'GRE Score':'34537'}
new_value = {'$set':{'GRE Score':'337'}}

result = collection.update_many(update_criteria,new_value)
print(result.modified_count)

# Atlas

In [3]:
client = pymongo.MongoClient("mongodb+srv://admin:krds1998@cluster0.aifsx.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [5]:
db

Database(MongoClient(host=['cluster0-shard-00-01.aifsx.mongodb.net:27017', 'cluster0-shard-00-00.aifsx.mongodb.net:27017', 'cluster0-shard-00-02.aifsx.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bxli0a-shard-0', ssl=True), 'test')

In [10]:
db_list = client.list_database_names()
db_list

['admin', 'local']

In [14]:
db_name = "atlas_demo_db"
if db_name in db_list:
    print(f"'{db_name}' is present")
else:
    print(f"'{db_name}' is not present\n Creating now ...")
    newdb = client[db_name]
    print(f"'{db_name}' is Created")

'atlas_demo_db' is not present
 Creating now ...
'atlas_demo_db' is Created

In [15]:
new_coll = newdb["test_collection"]

In [16]:
list1 = {"_id":1,"Name":"Karan","Subjects":["P","C","M","B"],"Addess":{"Street Name":"Ihopkins street","Pincode":"405055"}}
new_coll.insert_one(list1)

In [21]:
outlist = new_coll.find()

In [22]:
for i in outlist:
    print(i)

{'_id': 1, 'Name': 'Karan', 'Subjects': ['P', 'C', 'M', 'B'], 'Addess': {'Street Name': 'Ihopkins street', 'Pincode': '405055'}}