In [85]:
import pymongo

In [86]:
dbconn=pymongo.MongoClient("mongodb://localhost:27017/")

In [87]:
dbname = "demoDB"

In [88]:
db = dbconn[dbname]

In [89]:
print(dbconn.list_database_names())

['acme', 'admin', 'config', 'demoDB', 'local']

In [90]:
dblist = dbconn.list_database_names()
print(dblist)
db_name="demoDB"

if db_name in dblist:
    print("Database exists")
else:
    print("Database doesn't exist")

['acme', 'admin', 'config', 'demoDB', 'local']
Database exists

In [91]:
collection_name = "mongo_demo"

In [92]:
collection = db[collection_name]

In [93]:
if collection_name in db.list_collection_names():
    print("collection exists")
else:
    print("collection doesn't exist")

collection exists

In [94]:
my_row = {'Serial No':'998',
         'GRE Score':'337',
         'SOP':'4.5',
         'Research':'1',
         'Chance of Admit':'0.89'}

In [95]:
x = collection.insert_one(my_row)

In [96]:
x.inserted_id

ObjectId('609eb9c63252486d41bbd4ca')

In [97]:
my_rows = [
    {'Serial No':'942398',
         'GRE Score':'3367',
         'SOP':'4.235',
         'Research':'16',
         'Chance of Admit':'0.8934'},
    {'Serial No':'92398',
         'GRE Score':'33357',
         'SOP':'4.235',
         'Research':'1',
         'Chance of Admit':'0.89'},
    {'Serial No':'94598',
         'GRE Score':'34537',
         'SOP':'4.52',
         'Research':'13',
         'Chance of Admit':'0.59'}

]

In [98]:
x = collection.insert_many(my_rows)

In [99]:
x.inserted_ids

[ObjectId('609eb9c63252486d41bbd4cb'),
 ObjectId('609eb9c63252486d41bbd4cc'),
 ObjectId('609eb9c63252486d41bbd4cd')]

In [100]:
result = collection.find({})
for r in result:
    print(r)

{'_id': ObjectId('609eb3d03252486d41bbd4c2'), 'Serial No': '92398', 'GRE Score': '33357', 'SOP': '4.235', 'Research': '1', 'Chance of Admit': '0.89'}
{'_id': ObjectId('609eb3d03252486d41bbd4c3'), 'Serial No': '94598', 'GRE Score': '337', 'SOP': '4.52', 'Research': '13', 'Chance of Admit': '0.59'}
{'_id': ObjectId('609eb99a3252486d41bbd4c5'), 'Serial No': '998', 'GRE Score': '337', 'SOP': '4.5', 'Research': '1', 'Chance of Admit': '0.89'}
{'_id': ObjectId('609eb99b3252486d41bbd4c7'), 'Serial No': '92398', 'GRE Score': '33357', 'SOP': '4.235', 'Research': '1', 'Chance of Admit': '0.89'}
{'_id': ObjectId('609eb99b3252486d41bbd4c8'), 'Serial No': '94598', 'GRE Score': '337', 'SOP': '4.52', 'Research': '13', 'Chance of Admit': '0.59'}
{'_id': ObjectId('609eb9c63252486d41bbd4ca'), 'Serial No': '998', 'GRE Score': '337', 'SOP': '4.5', 'Research': '1', 'Chance of Admit': '0.89'}
{'_id': ObjectId('609eb9c63252486d41bbd4cb'), 'Serial No': '942398', 'GRE Score': '3367', 'SOP': '4.235', 'Research': '16', 'Chance of Admit': '0.8934'}
{'_id': ObjectId('609eb9c63252486d41bbd4cc'), 'Serial No': '92398', 'GRE Score': '33357', 'SOP': '4.235', 'Research': '1', 'Chance of Admit': '0.89'}
{'_id': ObjectId('609eb9c63252486d41bbd4cd'), 'Serial No': '94598', 'GRE Score': '34537', 'SOP': '4.52', 'Research': '13', 'Chance of Admit': '0.59'}

In [101]:
result = collection.find({}).limit(1)
for r in result:
    print(r)

{'_id': ObjectId('609eb3d03252486d41bbd4c2'), 'Serial No': '92398', 'GRE Score': '33357', 'SOP': '4.235', 'Research': '1', 'Chance of Admit': '0.89'}

In [102]:
result = collection.find({},{'GRE Score'})
for r in result:
    print(r)

{'_id': ObjectId('609eb3d03252486d41bbd4c2'), 'GRE Score': '33357'}
{'_id': ObjectId('609eb3d03252486d41bbd4c3'), 'GRE Score': '337'}
{'_id': ObjectId('609eb99a3252486d41bbd4c5'), 'GRE Score': '337'}
{'_id': ObjectId('609eb99b3252486d41bbd4c7'), 'GRE Score': '33357'}
{'_id': ObjectId('609eb99b3252486d41bbd4c8'), 'GRE Score': '337'}
{'_id': ObjectId('609eb9c63252486d41bbd4ca'), 'GRE Score': '337'}
{'_id': ObjectId('609eb9c63252486d41bbd4cb'), 'GRE Score': '3367'}
{'_id': ObjectId('609eb9c63252486d41bbd4cc'), 'GRE Score': '33357'}
{'_id': ObjectId('609eb9c63252486d41bbd4cd'), 'GRE Score': '34537'}

In [103]:
db_query = {'GRE Score':'337'}
result = collection.find(db_query)
for r in result:
    print(r)

{'_id': ObjectId('609eb3d03252486d41bbd4c3'), 'Serial No': '94598', 'GRE Score': '337', 'SOP': '4.52', 'Research': '13', 'Chance of Admit': '0.59'}
{'_id': ObjectId('609eb99a3252486d41bbd4c5'), 'Serial No': '998', 'GRE Score': '337', 'SOP': '4.5', 'Research': '1', 'Chance of Admit': '0.89'}
{'_id': ObjectId('609eb99b3252486d41bbd4c8'), 'Serial No': '94598', 'GRE Score': '337', 'SOP': '4.52', 'Research': '13', 'Chance of Admit': '0.59'}
{'_id': ObjectId('609eb9c63252486d41bbd4ca'), 'Serial No': '998', 'GRE Score': '337', 'SOP': '4.5', 'Research': '1', 'Chance of Admit': '0.89'}

In [104]:
db_query = {'GRE Score':{'$gt':'233'}}
result = collection.find(db_query).sort('GRE Score',-1)
for r in result:
    print(r)

{'_id': ObjectId('609eb9c63252486d41bbd4cd'), 'Serial No': '94598', 'GRE Score': '34537', 'SOP': '4.52', 'Research': '13', 'Chance of Admit': '0.59'}
{'_id': ObjectId('609eb3d03252486d41bbd4c3'), 'Serial No': '94598', 'GRE Score': '337', 'SOP': '4.52', 'Research': '13', 'Chance of Admit': '0.59'}
{'_id': ObjectId('609eb99a3252486d41bbd4c5'), 'Serial No': '998', 'GRE Score': '337', 'SOP': '4.5', 'Research': '1', 'Chance of Admit': '0.89'}
{'_id': ObjectId('609eb99b3252486d41bbd4c8'), 'Serial No': '94598', 'GRE Score': '337', 'SOP': '4.52', 'Research': '13', 'Chance of Admit': '0.59'}
{'_id': ObjectId('609eb9c63252486d41bbd4ca'), 'Serial No': '998', 'GRE Score': '337', 'SOP': '4.5', 'Research': '1', 'Chance of Admit': '0.89'}
{'_id': ObjectId('609eb9c63252486d41bbd4cb'), 'Serial No': '942398', 'GRE Score': '3367', 'SOP': '4.235', 'Research': '16', 'Chance of Admit': '0.8934'}
{'_id': ObjectId('609eb3d03252486d41bbd4c2'), 'Serial No': '92398', 'GRE Score': '33357', 'SOP': '4.235', 'Research': '1', 'Chance of Admit': '0.89'}
{'_id': ObjectId('609eb99b3252486d41bbd4c7'), 'Serial No': '92398', 'GRE Score': '33357', 'SOP': '4.235', 'Research': '1', 'Chance of Admit': '0.89'}
{'_id': ObjectId('609eb9c63252486d41bbd4cc'), 'Serial No': '92398', 'GRE Score': '33357', 'SOP': '4.235', 'Research': '1', 'Chance of Admit': '0.89'}

In [111]:
db_query = {'GRE Score':'3367'}
result = collection.delete_one(db_query)
result.deleted_count

0

In [106]:
collection_name = "demo2"
collection1 = db[collection_name]
collection1.insert_one(my_row)

In [107]:
db.list_collection_names()

['mongo_demo', 'demo2']

In [108]:
collection_to_drop=db['demo2']
collection_to_drop.drop()

In [109]:
db.list_collection_names()

['mongo_demo']

In [110]:
update_criteria = {'GRE Score':'34537'}
new_value = {'$set':{'GRE Score':'337'}}

result = collection.update_many(update_criteria,new_value)
print(result.modified_count)

1